@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --blue-text: #86ddff;
   --dark-blue: #002b8f;
   --mid-blue: #3ba0ff;
}

html {
   font-family: 'Montserrat', sans-serif;
   scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* NAVBAR SECTION */
#mobile-nav {
   display: none;
}

.nav-bar {
   position: absolute;
   z-index: 2;
   width: 100%;
}


/* Language Links */
.language-link {
   position: relative;
   margin-right: -150px;
}

.flag-icon {
   display: none;
   width: 55px;
   height: 55px;
   background-size: cover;
   margin-left: 0px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.language-link.en:hover .flag-icon {
   display: inline-block;
   background-image: url(images/us-flag.png);
}

.language-link.sp:hover .flag-icon {
   display: inline-block;
   background-image: url(images/spain-icon.png);
}

ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10%;
   list-style: none;
   height: 10vh;
   background-color: rgba(100, 100, 100, 0.2);
}

li a {
   display: block;
   color: #fff;
   text-decoration: none;
   font-size: 1.5rem;
}

li a:hover {
   color: var(--blue-text);
}

#name {
   color: var(--blue-text);
   font-size: 35px;
   font-weight: bold;
}

/* HERO SECTION */
.container {
   height: 90vh;
   width: 100%;
   margin-bottom: 60px;
   overflow: hidden;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.4);
}

.image-container {
   position: relative;
   background: url(images/Main-hero.png) calc(100% + 250px) 100px no-repeat, linear-gradient(350deg, #3ba0ff, #002b8f);
   height: 100%;
   width: 100%;
   animation: scale 3s;
}

@keyframes scale {
   0% {
      transform: scale(1.5);
   }
   100% {
      transform: scale(1);
   }
}

.overlay {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background: 0, 0, 0, 0.4;
   z-index: 1;
}

.hero-text {
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
   position: absolute;
   top: 25%;
   left: 10%;
   font-size: 28px;
   color: #fff;
   text-transform: uppercase;
   z-index: 2;
}

.firstWord {
   color: var(--blue-text);
}

.resume-cta {
   border: 2px solid var(--blue-text);
   width: fit-content;
   padding: 30px;
   margin-top: 50px;
   text-align: center;
   border-radius: 5px;
}

.resume-text {
   color: #fff;
   font-weight: 400;
}
.resume-cta:hover {
   background-color: rgba(100, 100, 100, 0.4);
}

/* PROJECT SECTION */

.project-container {
   width: 100%;
   height: auto;
}

.project-header {
   font-size: 3rem;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 30px;
   color: var(--mid-blue);
}

hr {
   border: none;
   border-top: 1px solid var(--mid-blue) ;
   width: 70%;
   margin: 10px auto 50px;
   border-radius: 5px;
}

.projects {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: wrap;
}

/* Projects Row One */
.huddle-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/huddle.png);
   background-size: 100%;
   background-repeat: no-repeat;
}

.huddle-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/huddle.png);
}

.base-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/base-apprl.png);
   background-size: 100%;
   background-repeat: no-repeat;
}

.base-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/base-apprl.png);
}

.newsletter-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/newsletter.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.newsletter-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/newsletter.png);
}

/* Projects Row Two */
.fylo-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/fylo.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: cover;
}

.fylo-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/fylo.png);
}

.cc-details-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/cc-details.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.cc-details-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/cc-details.png);
}

.time-tracker-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/time-tracker.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.time-tracker-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/time-tracker.png);
}

/* Row Three */
.social-proof-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/social-proof.png);
   background-size: 100%;
   background-size: cover;
   background-repeat: no-repeat;
}


.social-proof-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/social-proof.png);
}

.four-card-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/four-card.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.four-card-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.5)), url(images/four-card.png);
}

.bucket-list-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/bucket-list.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position-y: 0px;
}

.bucket-list-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/bucket-list.png);
}

/* Row Four */
.clipboard-project {
   width: 400px;
   height: 400px;
   background-color: #fff;
   position: relative;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   margin: 50px;
   background-image: url(images/clipboard.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position-y: 0px;
}

.clipboard-project:hover {
   background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/clipboard.png);
}

.text-container {
   position: absolute;
   height: 74px;
   width: 100%;
   text-align: center;
   z-index: 2;
   left: 0;
   bottom: 0;
   background-color: #ffffff;
   overflow: hidden;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   transition: height .6s ease-in, background-color .5s ease-in;
}

.text-container:hover {
   height: 270px;
   border: 1px solid var(--blue-text);
   transition: height .3s ease-out, background-color .5s ease-out; 
   background-image: linear-gradient(rgba(255, 255, 255, 0.5), var(--mid-blue));
}

.name {
   margin: 20px 10px 5px;
   color: var(--mid-blue);
   font-size: 1.8rem;
   font-weight: 600;
}

.content {
   padding: 10px;
   color: var(--dark-blue);
   font-size: 1rem;
   font-weight: 600;
}

.button {
   border: 2px solid var(--blue-text);
   width: 210px;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
   padding: 15px;
   margin-bottom: 50px;
   border-radius: 5px;
   margin: 18px auto;
   display: flex;
   justify-content: center;
   background-color: white;
}

h3 {
   color: var(--mid-blue);
}

/* ABOUT CONTAINER */
.about-container {
   margin: 10% auto;
   width: 75%;
   height: auto;
   background-color: rgba(8, 8, 8, 255);
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.6);
   border-radius: 10px;
}

.about-section {
   display: flex;
   align-items: center;
   justify-content: left;
   flex-flow: wrap;
}

.about-image {
   height: 450px;
   width: 460px;
   background-image: url(images/fdoDLT.jpg);
   background-repeat: no-repeat;
   background-size: 70%;
   border-radius: 10px 0 0 10px;
}

.about-text {
   color: var(--mid-blue);
   height: auto;
   width: 60%;
   padding-left: 0;
   font-size: 1.1rem;
}

/*  SOCIAL */
.social-icons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 3rem;
   width: 30%;
   margin: 2% 35%;
   padding-top: 30px;
}

.social-icons i {
   color: var(--mid-blue);
}

.social-icons i:hover {
   color: var(--blue-text);
}

/* FORM */
h4 {
   color: var(--blue-text);
   font-size: 38px;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: 200px;
}

.box {
   margin: 0 auto 100px;
   position: relative;
   width: 880px;
   height: 480px;
   background-color: #1c1c1c;
   box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.6);
   border-radius: 50px 5px;
   overflow: hidden;
}

.box::before {
   content: '';
   position: absolute;
   top: -50%;
   left: -50%;
   width: 990px;
   height: 550px;
   background: linear-gradient(60deg, var(--blue-text), var(--blue-text));
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
}

.box::after {
   content: '';
   position: absolute;
   top: -50%;
   left: -50%;
   width: 990px;
   height: 650px;
   background: linear-gradient(60deg, var(--mid-blue), var(--mid-blue));
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
   animation-delay: -3s;
}

.box.show-message::before,
.box.show-message::after {
   display: none;
}

@keyframes animate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.box {
   animation: fadeIn 1s ease-in-out;
}

.box.show-message {
   animation: none;
}

form {
   position: absolute;
   inset: 2px;
   border-radius: 50px 5px;
   background-color: rgba(8, 8, 8, 255);
   z-index: 10;
   padding: 30px 30px;
   display: flex;
   flex-direction: column;
}

h2 {
   color: var(--mid-blue);
   font-size: 35px;
   font-weight: 500;
   text-align: center;
   padding-top: 10px;
}

.inputBox {
   position: relative;
   width: 300px;
   margin-top: 35px;
}

.inputBox input {
   position: relative;
   width: 100%;
   padding: 20px 10px 10px;
   background: transparent;
   border: none;
   outline: none;
   color: #23242a;
   font-size: 1em;
   letter-spacing: 0.05em;
   z-index: 10;
}

input[type="submit"] {
   font-size: 20px;
   border: none;
   outline: none;
   background-color: var(--mid-blue);
   padding: 5px;
   margin-top: 40px;
   border-radius: 90px;
   font-weight: 600;
   cursor: pointer;
}

input[type="submit"]:active {
   background: linear-gradient(5deg, var(--mid-blue), var(--blue-text));
   opacity: 0.8;
}

input:hover {
   background: var(--blue-text);
}

.inputBox span {
   position: absolute;
   left: 0;
   padding: 20px 10px 10px;
   font-size: .8em;
   color: var(--blue-text);
   pointer-events: none;
   letter-spacing: 0.05em;
   transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
   color: var(--blue-text);
   transform: translateX(-10px) translateY(-50px);
   font-size: 0.75em;
}

.inputBox i {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background: var(--mid-blue);
   border-radius: 4px;
   transition: 0.5s;
   pointer-events: none;
   z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
   height: 52px;
}

.box-links {
   display: flex;
   justify-content: space-between;
}

.box-links a {
   margin: 35px 0;
   font-size: 1em;
   color: var(--mid-blue);
   text-decoration: none;
}

.box-links a:hover {
   color: var(--blue-text);
}

.box-links a:nth-child(2):hover {
   text-decoration: none;
   text-underline-offset: 5px;
   color: var(--blue-text);
}

/* MOBILE */

@media (max-width:1600px) {
   .about-container {
      margin-bottom: 20px;
      box-shadow: 15px 7px 30px 7px rgba(0, 0, 0, 0.2);
      background-color: #0c0c0c;
   }

   .about-image {
      margin: 10px 0px -5px -15px;
      height: 340px;
      width: 330px;
      background-image: url(images/fdoDLT.jpg);
      background-position: center;
      border-radius: 10px;
   }

   .about-section {
      display: flex;
      align-items: center;
      justify-content: left;
      background-color: rgba(8, 8, 8, 255);
      border-radius: 10px;
   }

   .img-container {
      margin-left: -30px;
   }

   .about-text {
      margin: 10px auto;
      width: 60%;
      font-size: .8rem;
      color: var(--mid-blue);
      text-align: left;
      padding: 0;
   }
}

@media (max-width: 950px) {
   body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
   }

   .overlay {
      width: auto;
   }

   #nav {
      display: none;
   }

   #mobile-nav {
      display: block;
   }
   
   .mobile-nav-bar {
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 5;
   }
   
   ul {
      background-color: rgba(0, 0, 0, 0.625);
   }
   
   ul i {      
      color: white;
   }

   ul i:hover {
      color: var(--mid-blue);
   }
   
   .container {
      height: 620px;
   }

/* Must fix */
   .image-container {
         background-image: linear-gradient(350deg, #3ba0ff, #002b8f);
   }


   .hero-text {
      margin-top: -130px;
      text-align: left;
      font-size: 20px;
   }

   .resume-cta {
      width: 150px;
      font-weight: 600;
      border-radius: 5px;
   }

   .project-header {
      font-size: 30px;
      text-align: center;
   }

   .name {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
   }

   .huddle-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/huddle.png);
      background-size: cover;
      background-position: auto;
   }
   
   .base-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/base-apprl.png);
      background-size: cover;
      background-position: auto;
   }
   .newsletter-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/newsletter.png);
      background-size: cover;
      background-position: auto;
   }
   
   .fylo-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/fylo.png);
      background-size: 500px;
      background-position: auto;
   }
   .cc-details-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/cc-details.png);
      background-size: 500px;
      background-position: auto;
   }
   
   .time-tracker-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/time-tracker.png);
      background-size: 500px;
      background-position: auto;
   }
   .social-proof-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/social-proof.png);
      background-size: cover;
      background-position: auto;
   }
   
   .four-card-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/four-card.png);
      background-size: cover;
      background-position: auto;
   }
   
   .bucket-list-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/bucket-list.png);
      background-size: cover;
      background-position: auto;
   }

   .clipboard-project {
      width: 300px;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.625);
      border-radius: 10px;
      margin: 50px;
      background-image: url(images/clipboard.png);
      background-size: 500px;
      background-position-x: -100px;
   }

   .button {
      margin-top: 2px;
      width: 200px;
   }

   .about-container {
      width: 300px;
      margin: 0 auto;
      margin-bottom: 20px;
      background-color: rgba(8, 8, 8, 255);
      box-shadow: 15px 7px 30px 7px rgba(0, 0, 0, 0.2);
      background-color: #0c0c0c;
   }

   .about-section {
      display: flex;
      align-items: center;
      justify-content: left;
      flex-flow: wrap;
      border-radius: 10px;
   }

   .about-image {
      margin: 10px 50px;
      height: 340px;
      width: 255px;
      background-image: url(images/fdoDLT.jpg);
      background-size: 90%;
      background-color: rgba(8, 8, 8, 255);
      margin-bottom: 5px;
      border-radius: 20px;
   }

   .about-text {
      margin: 10px auto 20px;
      width: 80%;
      font-size: 0.65rem;
      color: var(--mid-blue);
      background-color: rgba(8, 8, 8, 255);
      text-align: center;
      padding: 0;
   }
   
   .social-icons {
      display: flex;      
      font-size: 1.8rem;
      margin-top: 10px;
      margin-bottom: 150px;
      padding: 0px;
      color: var(--mid-blue);
   }
}